.wrapper {
    width: 46rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: -1.69rem;
}

.header input {
    min-width: 39.875rem;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 0.5rem;
    background: var(--gray-500);
    color: var(--gray-300);
}

.header input:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--blue-dark);
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
}

.header button:hover {
    background: var(--blue);
    border: 1px solid var(--blue);
    transition: all 0.3s;
}

.content {
    margin-top: 4rem;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info > div p {
    color: var(--blue);
    font-weight: 700;
    font-size: 0.875rem;
}

.info > div span {
    padding: 0.125rem 0.5rem;
    color: var(--gray-200);
    background: var(--gray-400);
    font-weight: 700;
    font-size: 0.75rem;
    border-radius: 62.43rem;
}

.wrapperTasks {
    display: flex;
    flex-direction: column;
    gap: 1.33rem;
    margin-top: 1.5rem;
}


.contentNoTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1.5rem;
    border-radius: 0.5rem;
    border-top: 1px solid var(--gray-400);
}

.contentNoTasks img {
    width: 3.5rem;
}

.contentNoTasks p {
    line-height: 140%;
}

.contentTasks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.33rem;
    padding: 1rem;

    border-radius: 0.5rem;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);

}

.contentTasks p {
    line-height: 140%;
    width: 100%;
    color: var(--gray-100);
}

.trashIcon {
    cursor: pointer;
}

.trashIcon:hover {
    color: var(--danger);
    background: var(--gray-400);
    border-radius: 0.125rem;
    line-height: 0;
    
}

.bContain *,
.bContain *::before,
.bContain *::after {
  box-sizing: content-box !important;
}

.bContain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.bContain {
  display: table;
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
}

.bContain input[type="checkbox"] ~ .bInput {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background: var(--gray-600);
  transition: background 250ms;
  border: 2px solid var(--blue);
  border-radius: 1.5rem;
}

.bContain input[type="checkbox"] ~ .bInput::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 0.4rem;
  height: 0.7rem;
  border: solid var(--gray-100);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}
  
.bContain input:checked ~ .bInput::after {
    display: block;
}

.bContain:hover input[type="checkbox"] ~ .bInput {
    background: var(--gray-400);
    border-color: var(--blue-dark);
}

.bContain input[type="checkbox"]:checked ~ .bInput {
    background: var(--purple-dark);
    border-color: var(--purple-dark);
}

.bContain:hover input[type="checkbox"]:checked ~ .bInput {
    background: var(--purple);
    border-color: var(--purple);
}